@import url("./reset.css");
@import url("./nav.css");
@import url("./form-styles.css");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --font-color: rgb(239, 239, 239);
  --divider-color: #6d6a7c;
  --accent-pink: #f800b2d6;
  --selection-color: #e502a4;
  --base-font-size: 1rem;
  --header-font: "Press Start 2P", system-ui;
  --para-font: "VT323", monospace;
  --remote-btn-color: #848380;
}

/* Home Page Styling*/

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
div.ui-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../assets/katana-bg.png);
  background-size: 100% 100%;
  image-rendering: pixelated;
  background-position: center;
  background-repeat: no-repeat;
}
div.tv-desk {
  background-image: url(../assets/katana-bench.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 100%;
  position: relative;
  left: 15%;
}
main.content-page {
  width: 24%;
  height: 36%;
  position: absolute;
  top: 7%;
  left: 45.5%;
  border-radius: 7%;
}
div.content-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  border-radius: 7%;
  background-image: url(../assets/black-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 100%;
}
div.noise-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7%;
  background-image: url(../assets/Noise-group-crt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 100%;
  z-index: 1;
  /* display: none; */
}
header.tv-header {
  width: 100%;
  position: relative;
  z-index: 2;
  top: 0%;
  text-transform: capitalize;
}
h1 {
  color: var(--font-color);
  font-family: var(--header-font);
  font-size: calc(1rem + 4px);
  text-align: center;
  opacity: 82%;
  padding-bottom: 10px;
}
div.seperator {
  border-top: 2px dashed var(--divider-color);
  border-bottom: 2px dashed var(--divider-color);
  padding-top: 2px;
  opacity: 70%;
}
section.content {
  height: 22rem;
  position: relative;
  top: 5%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
  &.show {
    opacity: 0.85;
    visibility: visible;
  }
}
ul.todo-list {
  width: 100%;
  position: relative;
  height: 50%;
  list-style-type: none;
  padding-left: 0;
  top: 1%;
  opacity: 0;
  visibility: hidden;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &.show {
    opacity: 0.85;
    visibility: visible;
  }
}
ul.todo-list li {
  color: var(--font-color);
  font-size: 1.4rem;
  text-align: start;
  width: 100%;
  opacity: inherit;
  visibility: inherit;
  padding-left: 1rem;
  font-family: var(--para-font);
  cursor: pointer;
  &::before {
    content: "[ ]";
    margin-right: 10px;
    opacity: inherit;
    visibility: inherit;
  }
  &:hover {
    background-color: var(--selection-color);
  }
  & span.completed {
    display: block;
    width: 3%;
    height: 20%;
    position: absolute;
    background-color: var(--font-color);
    top: 11.5px;
    left: 24.5px;
    border-radius: 50%;
  }
}
article.to-do-details {
  /* border: 1px solid red; */
  height: 45%;
  position: relative;
  bottom: 47%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: var(--para-font);
  color: var(--font-color);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
  & p {
    margin: 0;
    padding-left: 2rem;
    height: 100%;
    width: 100%;
    &::before {
      content: ">>>";
      position: absolute;
      left: 3px;
    }
    &.show {
      opacity: 0.85;
      visibility: visible;
    }
  }
  & p.priority-lvl {
    & span {
      display: inline-block;
      width: 4.5rem;
      letter-spacing: 1px;
      text-align: center;
      color: rgba(248, 0, 178, 0.83); /* hot pink shade */
      text-shadow: 0 0px 2px #f800b2, 0 5px 6px rgba(248, 0, 178, 0.8);
      text-transform: capitalize;
    }
  }
  & p.description {
    line-height: 1;
    overflow-wrap: break-word;
  }
  & p.due-date {
    & span.date {
      display: inline-block;
      width: 6.3rem;
      padding-left: 15.5px;
    }
    &::after {
      content: "__ __ ____";
      position: absolute;
      right: 7rem;
      top: 2.61rem;
    }
  }
  & div.todo-btns {
    position: absolute;
    bottom: -2.3rem;
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 4px;
    opacity: 0;
    visibility: hidden;
    &.show {
      opacity: 0.85;
      visibility: visible;
    }
    & button {
      background-color: transparent;
      border: none;
      font-family: var(--header-font);
      font-size: 0.8rem;
      color: var(--font-color);
      opacity: 85%;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.9);
      }
    }
    &::before {
      content: "";
      position: absolute;
      border: 2px dashed var(--divider-color);
      bottom: 1.8rem;
      left: 0;
      width: 100%;
      padding-top: 2px;
      opacity: 70%;
    }
  }
}
footer {
  position: relative;
  z-index: 1;
  width: 100%;
  bottom: 46.5%;
  height: 15%;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
  &::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 2px dashed var(--divider-color);
    border-bottom: 2px dashed var(--divider-color);
    padding-top: 2px;
    opacity: 70%;
  }
  &.show {
    opacity: 0.85;
    visibility: visible;
  }
  & button {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    font-family: var(--header-font);
    font-size: 0.8rem;
    padding-top: 5px;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

/* Remote nav styling*/

aside.tv-remote {
  width: 15%;
  height: 20%;
  position: absolute;
  bottom: 0;
  right: 22%;
  background: url(../assets/tv-remote.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 4;
}

button.add-btn {
  border: none;
  position: absolute;
  width: 2.344rem;
  height: 1.75rem;
  border-radius: 50%;
  bottom: 10%;
  left: 38%;
  background: var(--remote-btn-color);
  transform: translateY(1.5px) translateX(-4.5px);
  font-size: 1.5rem;
  font-weight: 900;
  transition: all 200ms ease-in;
  &:hover {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.45), 0 0 6px rgba(0, 0, 0, 0.25);
  }
  &:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  & img {
    transform: translateY(-1px) translateX(3px);
    object-fit: cover;
    height: 60%;
    width: 80%;
  }
}
button.forward-btn {
  border: none;
  width: 1.555rem;
  height: 1.18rem;
  border-radius: 50%;
  position: absolute;
  bottom: 35%;
  left: 42%;
  transition: all 200ms ease-in;
  background-color: var(--remote-btn-color);
  & img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    transform: rotateX(10deg) translateX(3px);
  }
  &:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.75), 0 0 2px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px) scale(1.1);
  }
  &:active {
    /* pressed in */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.55),
      0 1px 2px rgba(0, 0, 0, 0.35);
  }
}
button.back-btn {
  border: none;
  position: absolute;
  bottom: 30%;
  width: 1.55rem;
  height: 1.1rem;
  border-radius: 50%;
  left: 23%;
  transform: translateY(-2px) translateX(-2px);
  background-color: var(--remote-btn-color);
  transition: all 200ms ease-in-out;
  & img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    transform: rotateX(-10deg) translateX(0.5px);
  }
  &:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.75), 0 0 2px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px) translateX(-2px) scale(1.1);
  }
  &:active {
    /* pressed in */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.55),
      0 1px 2px rgba(0, 0, 0, 0.35);
  }
}
article.show {
  opacity: 0.85;
  visibility: visible;
}
